body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position: fixed;
    background-color: #648b92;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}

p {
    font-weight: bold;
}

.list-container {
    width: 300px;
    height: 150px; 
    overflow-y: auto; 
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: 2px solid #425e63;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #425e63;
}

